ROLE='api'
PORT=3001
DB_TYPE=mongodb
DB_NAME=felix-natalis
MONGO_URL=mongodb://localhost:27017/felix-natalis-stage
REDIS_URL=redis://localhost:6379
LOG_FILE_DIR=../../logs
QUEUE_NAME=reminder
BIRTHDAY_HOUR=9
SCHEDULING_FREQUENCY=1